#elem1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: #ff8888;
}
#elem2 {
    position: absolute;
    top: 160px;
    left: 260px;

    width: 100px;
    height: 100px;
    background-color: #7e89eb;
}

#elem3 {
    position: absolute;
    top: 220px;
    left: 320px;

    width: 100px;
    height: 100px;
    background-color: #4dee99;
}