.parent {
    border: 1px solid;
    margin: 20px auto;
    text-align: justify;
    width: 480px;
    padding: 20px;
    font-size: 12px;
}
.child {
    float: right;
    width: 80px;
    height: 60px;
    margin: 10px 0 10px 10px;
    border: 1px solid green;
}