.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid red;
    width: 700px;
    height: 350px;
    margin: 10px auto;
}
.child {
    width: 100px;
    height: 50px;
    border: 1px solid green;
    font-size: 12px;
}